.container-menu-title {
  color: white;
}

.container-menu-title h1 {
  margin: 15px 0;
  font-size: 135px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-family: 'segoe UI';
}

.container-menu-title hr {
  margin: 20px 0;
}
